#header {
    position: relative;
    top: -10px;
    background-color: #001A57;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	height: 45px;
}

h1 {
    font-family: garamond;
    color: #FFFFFF;
    text-align: center;
}

form {
    font-family: garamond;
}

p {
    font-family: garamond;
    display: inline-block;
    font-weight: bold;
}

#intro {
    font-family: garamond;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

#orgprefs {
    font-family: garamond;
    font-size:18px;
    padding-bottom: -20x;
}

#options {
    font-family: garamond;
    padding-top: -5px;
}

input {
    font-family: Verdana, Arial, sans-serif;
    color: #777;
}

textarea {
	vertical-align: top;
	width: 400px;
	color: #777;
}

#wrapper {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    position: relative;
    top: -10px;
    padding-top: 8px;
    padding-left: 30px;
    padding-bottom: 30px;
    box-shadow: 3px 3px 3px #444;
    font-family: garamond;
    font-size: 14px;
}

#inputs {
	width: 200px;
	clear: both;
}

#inputs input {
	width: 100%;
	clear: both;
}