
	
	nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		border-bottom: 2px dasher gray;
	}
	
	nav > ul {
		position: relative;
		padding: 0;
	}
	
	nav > ul > li {
		display: inline-block;
		padding: 1em;
		
	}
	
	nav > ul > li > a {
		text-decoration: none;
		color: gray;
	}
	
	h1 {
		font-family: Arial, Helvetica, sans-serif;
		color: gray;
	}	
	
	.lower {
		margin-top: 100px;
		padding: 20px;

	}
		
		
	
	body {
		width: 90%;
		margin: auto;
		font-family: Georgia, 'Times New Roman', Times, serif;
		color: dimgray;
		text-align: center;
		-webkit-text-size-adjust: auto;
		background-image: url(stardust.png);
		background-size: 100%;
		
	}

	li {
		color: white;
	}
	
	h1 {
		margin-top: 0%;
	}

	
	#Projects img {
		width: 40%;
	}
	
	#Projects img:hover {
		position: absolute;
		left: 10%;
		width: 80%;
	}